[Desktop Entry]
Name=MET Music Player
Comment=Sade modern müzik çalar (playlist, sürükle-bırak, karışık çalma)
Exec=mp3-player
Icon=mp3-player
Terminal=false
Type=Application
Categories=Audio;Music;Player;
Keywords=mp3;music;player;playlist;
StartupNotify=true
